@import "tailwindcss";

:root {
  --background-dashboard: #9b7777;
  --corPrimaria: #006e06;
  --corSecundaria: #666f81;
  --corDestaque: #ff7b00;
  --corFontePrincipal: #ffffff;
  --corFonteSecundaria: #858585; 
  --corFonteDestaque: #e70808; 
  --backgroundColor:  #f4f5f7;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}